@mixin form {
  padding: 14px 16px;
  resize: none;
  width: calc(100% - 28px);
  border-radius: 8px;
  border: 2px solid #f8f8f8;
  background-color: #f8f8fa;
  font-size: 14px;
  line-height: 19.6px;
  color: $text-color;
}

.footer {
  margin-top: 120px;
  margin-bottom: 120px;

  &__container {
    width: 100%;
    height: 460px;
    overflow: hidden;

    // scroll-snap-align: start;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    padding: 0 $content-padding;
    margin: 0 auto;
    max-width: 1260px;
  }

  &__about {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;

    // scroll-snap-align: start;
  }

  &__title {
    min-width: 287px;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }

  &__text {
    width: 498px;
    font-family: "Space Mono", sans-serif;
    line-height: 22.4px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.contact {
  margin-top: 120px;

  // scroll-snap-align: start;

  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }

  &__form {
    max-width: 411px;
    margin-top: 56px;
  }

  &__name {
    height: 48px;

    @include form;
  }

  &__email {
    height: 48px;
    margin-top: 16px;

    @include form;
  }

  &__message {
    height: 148px;
    margin-top: 16px;

    @include form;
  }

  &__submit {
    width: 100%;
    height: 56px;
    margin-top: 32px;
    font-weight: 700;
    line-height: 27px;
    background-color: $text-color;
    color: white;
    border: 2px solid #f0f1f4;
    border-radius: 8px;

    &:hover {
      cursor: pointer;
      background-color: #f8f8fa;
      border: 2px solid #f0f1f4;
      color: $text-color;
    }

    &:active {
      background-color: black;
      color: white;
    }
  }

  &__container {
    display: flex;
    gap: 139px;
    justify-content: space-between;
  }

  &__headline {
    color: #9393a3;
    font-size: 14px;
    line-height: 19.6px;
  }

  &__text {
    font-family: "Space Mono", sans-serif;
    font-size: 16px;
    line-height: 22.4px;

    // scroll-snap-align: end;
  }

  &__contacts {
    width: 498px;
  }
}

@media screen and (max-width: 744px) {
  .footer {
    &__title {
      font-size: 40px;
    }

    &__content {
      padding: 0 $content-padding-tablet;
    }
  }

  .contact {
    &__form {
      max-width: 100%;
    }

    &__button {
      width: 100%;
    }

    &__title {
      font-size: 40px;
    }

    &__container {
      flex-direction: column;
      gap: 80px;
    }
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 96px;

    &__text {
      width: 100%;
    }

    &__container {
      height: 200px;
    }

    &__content {
      padding: 0 $content-padding-mobile;
    }

    &__about {
      flex-direction: column;
      gap: 24px;
    }
  }
}