.menu {
  margin: 0;
  padding: 0 $content-padding;
  height: 100vh;
  background-color: #e5e6e8;
  text-underline-offset: 4px;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translate(-100%);
  transition: transform 500ms;

  &:target {
    transform: translate(-0%);
  }
  &__top {
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0;

    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
  }
  &__item {
    a {
      text-decoration: none;
      color: $text-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__phone {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    font-weight: 700;
    line-height: 22.4px;
    letter-spacing: 2px;

    span:last-child {
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}
